h1 {
  font-family: 'Arial', sans-serif; 
  font-size: 32px; 
  color: #2E4053; 
  letter-spacing: 2px; 
  margin-bottom: 20px;
  text-align: center;
}

input {
  font-family: 'Arial', sans-serif; 
  font-size: 18px; 
  color: #2E4053; 
  border: 3px solid #2E4053;
  margin: 5px;

}

label {
  font-family: 'Arial', sans-serif; 
  font-size: 18px; 
  color: #2E4053; 
  margin: 5px;
}

.tip-button {
  font-family: 'Arial', sans-serif; 
  font-size: 18px; 
  color: white;
  background-color: #2E4053;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.tip-button:hover {
  background-color: #4A6FA5;
  font-weight: bolder;
}

